{
    frankenphp
    order php_server before file_server
    auto_https off
}

:80 {
    root * /app/public

    @static path *.css *.js *.ico *.png *.jpg *.jpeg *.svg *.webp *.woff2
    header @static Cache-Control "public, max-age=31536000, immutable"

    php_server
}